main.contact__us__page {
  position: relative;
  width: 100%;
  gap: 2rem;
  padding: 3rem 9rem;

  @include media("<tablet") {
    padding: 4rem 4rem;
  }

  .title {
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-weight: 700;
    color: $color-tropical-rain-forest;
  }

  .intro__text {
    width: min(100%, 600px);
    margin: 2rem auto 0;
    font-size: clamp(15px, 3vw, 18px);
    text-align: center;
    font-weight: 500;
  }

  .outro__text {
    width: min(100%, 600px);
    margin: 3rem auto 0;
    font-size: clamp(14px, 3vw, 16px);
    text-align: center;
    font-weight: 500;

    span {
      color: $color-tropical-rain-forest;
      font-weight: 700;
    }
  }

  form {
    width: min(100%, 500px);
    margin: 2rem auto 0;

    & > :not(:first-child) {
      margin: 1.2rem 0 0;
    }

    input {
      width: 100%;
      height: 50px;
      padding: 0 1rem;
      border: 1px solid $color-tropical-rain-forest;
      outline: none;
      @extend %description-12;
    }
    textarea {
      width: 100%;
      min-height: 100px;
      padding: 1rem;
      border: 1px solid $color-tropical-rain-forest;
      outline: none;
      @extend %description-12;
    }
  }
}
