.our__team__section {
  width: 100%;
  padding: 4rem 9rem;

  @include media("<tablet") {
    padding: 2rem 1rem;
  }

  .our__team__header {
    @extend %title-30;
    font-weight: 800;
    color: $color-tropical-rain-forest;
  }

  .team__members__wrapper {
    width: 100%;
    @include flex(flex-start, center, row wrap);
    gap: 5rem 1rem;
    padding: 4rem 0 0;
  }

  .team__member__item {
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: min(32%, 400px);
    min-height: 25rem;
    border-radius: 10px;
    // border: 0.4px solid $color-tropical-rain-forest;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include media("<phone") {
      width: min(100%, 450px);
    }

    figure.team__member__image {
      --memberWidth: 5rem;
      position: absolute;
      top: calc(var(--memberWidth) * -0.5);
      left: 1rem;
      width: var(--memberWidth);
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;

      @include media("<phone") {
        --memberWidth: 6rem;
      }

      img {
        @extend %cover;
        object-fit: cover;
      }
    }

    .team__member__text {
      width: 100%;
      padding: 4rem 2rem;
      @include flex(flex-start, center, column);
      gap: 1.5rem;

      // @include media("<phone") {
      //   padding: 3rem 0;
      //   gap: 3rem;
      //   width: 100%;
      //   height: auto;
      // }

      h3 {
        @extend %title-20;
        font-weight: 550;
        color: $color-tropical-rain-forest;
      }

      p {
        @extend %description-12;
        line-height: 1.3;
      }
    }
  }

  .team__slider__section {
    position: relative;
    @include flex(center, center, row);
    width: 100%;
    //   gap: 1rem;
    min-height: 90dvh;

    padding: 2rem 0rem;
    overflow: hidden;
    // border: 1px solid red;

    @include media("<phone") {
      // padding: 2rem 4rem;
      min-height: 160dvh;
    }

    .team__carousel {
      @include flex;
      position: absolute;
      width: 100%;
      height: 100%;

      .team__slides__wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex: 1;

        .team__slides__inner__wrapper {
          position: absolute;
          height: 100%;
          width: 100%;
          overflow: hidden;
        }

        .team__slide__item {
          position: absolute;
          height: 100%;
          width: 100%;

          & > .team__member {
            position: absolute;
            width: 100%;
            height: 100%;
            @include flex(center, center, column);
            gap: 2rem;
            padding: 0rem 2rem;
            box-sizing: border-box;

            .member__image {
              position: relative;
              width: 8rem;
              aspect-ratio: 1/1;
              border-radius: 50%;
              overflow: hidden;

              img {
                @extend %cover;
                object-fit: cover;
                border-radius: inherit;
                transition: transform 300ms ease-in-out;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }

            .bio__text {
              // width: min(100%, 1000px);
              @include flex(flex-start, center, row);
              gap: 1rem;

              span {
                font-size: 5rem;
                font-weight: 700;
              }
              p {
                font-size: clamp(13px, 2.5vw, 16px);
                font-weight: 500;
                line-height: 2;
                text-wrap: balance;
                text-align: center;
              }
            }

            .member__name__role {
              @include flex(center, center, row);
              gap: 1rem;

              .member__name,
              .member__role {
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-tropical-rain-forest;
              }
            }
          }
        }
      }

      .team__slide__navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 1rem;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: $color-gray;
          outline: none;
          border: none;
          border-radius: 50%;
          cursor: pointer;

          @include media("<phone") {
            width: 40px;
            height: 40px;
          }

          &.team__slide__previous__btn:hover {
            svg {
              transform: translateX(-5px);
            }
          }
          &.team__slide__next__btn:hover {
            svg {
              transform: translateX(5px);
            }
          }

          svg {
            width: 70%;
            height: 70%;
            transition: 300ms ease-in-out;
            fill: $color-white;
          }
        }
      }
    }
  }
}
