.preloader {
  @extend %cover;
  @extend %center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: $color-black;
  color: $color-white;
  z-index: 999999;
  padding: 0 5rem;
  cursor: none;
  touch-action: none;

  .preloader__line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $color-white;

    &.left {
      left: 5rem;
    }
    &.right {
      right: 5rem;
    }
  }

  .preloader__text {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    @extend %title-30;
    overflow: hidden;

    @include media("<phone") {
      left: 1rem;
    }
  }
  .preloader__number {
    position: absolute;
    overflow: hidden;
    top: 3rem;
    right: 2rem;
    @extend %title-20;
    overflow: hidden;

    @include media("<phone") {
      right: 1rem;
    }
  }
}
