main.change__service__page {
  min-height: 60vh;
  padding: 4rem 9rem;

  @include media("<tablet") {
    padding: 2rem 4rem;
  }

  .change__service__image {
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;

    img {
      @extend %cover;
      object-fit: cover;
    }
  }

  h2 {
    @extend %description-16;
    line-height: 1.5;
    font-weight: 600;
    color: $color-tropical-rain-forest;
    margin-bottom: 1rem;
  }

  h3 {
    @extend %description-16;
    line-height: 1.5;
    font-weight: 600;
    color: $color-tropical-rain-forest;
    margin-bottom: 1rem;
  }

  h4 {
    @extend %description-16;
    line-height: 1.5;
    font-weight: 400;
    color: $color-tropical-rain-forest;
    margin-bottom: 1rem;
  }
  .change__service__page__header {
    @extend %title-30;
    line-height: 1.4;
    font-weight: 800;
    color: $color-tropical-rain-forest;
    margin: 2rem 0 0;
    font-kerning: none;
    overflow: hidden;
  }

  .change__service__content {
    margin: 2rem 0 0;
    width: min(100%, 1000px);

    p {
      @extend %description-12;
      line-height: 1.8;
      overflow: hidden;
      font-kerning: none;
      margin-bottom: 1.5rem;

      span {
        @extend %description-12;
        line-height: 1.8;
        font-weight: 600;
        color: $color-tropical-rain-forest;
        margin-bottom: 1.5rem;
      }
    }
    
  }

  .change__service__content__blog {
    margin: 2rem 0 0;
    width: min(100%);

    p {
      @extend %description-12;
      line-height: 1.8;
      overflow: hidden;
      font-kerning: none;
      margin-bottom: 1.5rem;

      span {
        @extend %description-12;
        line-height: 1.8;
        font-weight: 600;
        color: $color-tropical-rain-forest;
        margin-bottom: 1.5rem;
      }
    }
    
  }
}
