.blog__section {
  position: relative;
  width: 100%;
  padding: 3rem 9rem;
  overflow: hidden;

  @include media("<tablet") {
    padding: 3rem 4rem;
  }

  .blog__header {
    @extend %title-30;
    font-weight: 600;
    color: $color-tropical-rain-forest;
  }

  .blog__posts__wrapper {
    @include flex(center, space-around, row wrap);
    gap: 1rem;
    padding: 3rem 0 0;
    box-sizing: border-box;

    .blog__item {
      width: min(32%, 400px);
      min-height: 30rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 10px;

      @include media("<phone") {
        width: min(100%, 450px);
      }

      .blog__item__image {
        position: relative;
        width: 100%;
        aspect-ratio: 1/0.7;
        overflow: hidden;
        border-radius: inherit;

        @include media("<phone") {
          aspect-ratio: 1/0.5;
        }

        img {
          @extend %cover;
          object-fit: cover;
          border-radius: inherit;
          transition: transform 1s ease-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .blog__text__wrapper {
        @include flex(flex-start, flex-start, column);
        gap: 4rem;
        width: 100%;
        padding: 2rem 1.2rem;

        h3 {
          @extend %description-16;
          line-height: 1;
          font-weight: 600;
          color: $color-tropical-rain-forest;
        }
      }
    }
  }
}
