.statistics__section {
  position: relative;
  width: 100%;
  gap: 2rem;
  padding: 6rem 9rem;
  overflow: hidden;

  @include media("<tablet") {
    padding: 3rem 4rem;
  }

  .statistics__items__wrapper {
    width: 100%;
    @include flex(center, space-around, row wrap);
    gap: 1rem;
    margin: 3rem 0 0;

    @include media("<tablet") {
      justify-content: center;
    }

    @include media("<phone") {
      flex-flow: row wrap;
    }

    & > .statistics__item {
      width: min(48%, 500px);
      @include flex(center, center, column);
      flex-grow: 2;
      gap: 2rem;
      padding: 2rem;
      background-color: $color-wild-sand;
      border-radius: 10px;

      @include media("<phone") {
        width: min(100%, 500px);
      }

      &:nth-child(2n) {
        h2 {
          color: $color-tropical-rain-forest;
        }
      }

      &:nth-child(3n) {
        h2 {
          color: $color-gray;
        }
      }

      h2 {
        @extend %title-45;
        font-weight: 700;

        span {
          @extend %title-45;
          font-weight: 700;
          color: inherit;
        }
      }

      span {
        font-weight: 300;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: inherit;
      }
    }
  }
}
