.who__we__are__section {
  position: relative;
  width: 100%;
  @include flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 6rem 9rem;
  overflow: hidden;

  @include media("<tablet") {
    padding: 3rem 4rem;
    justify-content: center;
  }

  @include media("<phone") {
    flex-flow: row wrap;
  }

  .who__we__are__text {
    width: min(100%, 31rem);
    @include flex(flex-start, flex-start, column);
    flex-flow: column;
    gap: 1.5rem;

    @include media("<phone") {
      width: 100%;
    }

    .who__we__are__header {
      @extend %title-30;
      font-weight: 600;
      color: $color-tropical-rain-forest;
      overflow: hidden;
      font-kerning: none;
    }

    .who__we__are__paragraph {
      @extend %description-14;
      // font-size: clamp(1rem, 2.5vw, 1.25rem);
      line-height: 1.5;
      font-kerning: none;
      overflow: hidden;

      span {
        font-size: inherit;
        line-height: inherit;
        color: $color-tropical-rain-forest;
        font-weight: 600;
      }
    }
  }

  .who__we__are__image {
    position: relative;
    width: min(100%, 31rem);
    aspect-ratio: 1/1;
    overflow: hidden;

    @include media("<phone") {
      width: 100%;
    }

    img {
      @extend %cover;
      object-fit: cover;
      // filter: grayscale(1);
      transition: transform 1s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
